# CS 533 Project - TVCA analysis
by Abishai Joy and Ravishankar

## Purpose and Context
The purpose of this assignment is to perform an exploratory analysis on [TVCA](http://www.biketreasurevalley.org/) data

- Obtain TVCA data from Mike Stefancic
- Set up a Jupyter notebook and data set to begin a new analysis
- Carry out an exploratory analysis to understand a data setâ€™s contents and communicate them to others.


## Setup

In [66]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

'''
Note: You may need to install simpledf usin `pip` because the conda installation is not 
      supported for python versions >3.4
'''
from simpledbf import Dbf5

## Loading Data

All binary files are in the `bin/` folder

In [13]:
bike_count = pd.ExcelFile('bin/bike-count-master-summary-updated-2019.xlsx')

The excel file has multiple sheets with different headers and data.

Let us first take a look at the number of sheets and what they are called

In [89]:
print("# of sheets: ", len(bike_count.sheet_names))
bike_count.sheet_names

# of sheets:  22

['Overall',
 'ACHD',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012-May',
 '2012-September',
 '2013-May',
 '2013-September',
 '2014-May',
 '2014-September',
 '2015-May JUB',
 '2015 - Sept',
 '2016- May',
 '2016- Sept',
 'NO counts -2017 - May',
 'NO counts 2017 - Sept',
 '2018 - May',
 '2018 - Sept',
 '2019 - May']

The excel file has 22 different sheets, so we save each sheet as a pandas data frame

The first sheet is called **Overall** and contains summaries of bike counts acrosse various intersection in Boise from 2007 to 2019 with some missing data for some years

In [119]:
data_overall = pd.read_excel(bike_count,'Overall')
data_overall.head()

,Location,2007,2008,2009,2010,2011,2012-May,2012-September,2013-May,2013-September,2014-May,2014-September,2015-05-01 00:00:00,2019-05-01 00:00:00,Unnamed: 14,Total,Average
0,03rd / Bannock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,NaN,NaN,NaN,NaN,NaN,52,52
1,03rd / Myrtle,NaN,NaN,NaN,NaN,151.0,NaN,NaN,59.0,150.0,95.0,133.0,NaN,NaN,NaN,588,117.6
2,05th / Idaho,NaN,NaN,NaN,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,28
3,06th / O'Farrell,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62,62
4,06th / Union,NaN,NaN,NaN,NaN,NaN,NaN,137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,137,137

According to our service learning advisor Mike Stefancic, we are only intereseted in the data from 2010 onwards so we drop the `2007`, `2008` and `2009` columns from the `data_overall` data frame.

In [120]:
# Make col names a string
data_overall.columns = data_overall.columns.map(str)

data_overall.drop(columns=['2007', '2008', '2009'], inplace=True)
data_overall.head()

,Location,2010,2011,2012-May,2012-September,2013-May,2013-September,2014-May,2014-September,2015-05-01 00:00:00,2019-05-01 00:00:00,Unnamed: 14,Total,Average
0,03rd / Bannock,NaN,NaN,NaN,NaN,NaN,52.0,NaN,NaN,NaN,NaN,NaN,52,52
1,03rd / Myrtle,NaN,151.0,NaN,NaN,59.0,150.0,95.0,133.0,NaN,NaN,NaN,588,117.6
2,05th / Idaho,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,28
3,06th / O'Farrell,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62,62
4,06th / Union,NaN,NaN,NaN,137.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,137,137

Cleanup the columns

In [121]:
data_overall.drop(columns=['Unnamed: 14'], inplace=True)
data_overall.rename(columns={"2015-05-01 00:00:00": "2015-May", '2019-05-01 00:00:00':'2019-May'}, inplace=True)
data_overall.head()

,Location,2010,2011,2012-May,2012-September,2013-May,2013-September,2014-May,2014-September,2015-May,2019-May,Total,Average
0,03rd / Bannock,NaN,NaN,NaN,NaN,NaN,52.0,NaN,NaN,NaN,NaN,52,52
1,03rd / Myrtle,NaN,151.0,NaN,NaN,59.0,150.0,95.0,133.0,NaN,NaN,588,117.6
2,05th / Idaho,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN,NaN,NaN,28,28
3,06th / O'Farrell,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,62,62
4,06th / Union,NaN,NaN,NaN,137.0,NaN,NaN,NaN,NaN,NaN,NaN,137,137

For the time being, we assign 0 to any missing values. Mike is working on getting the rest of the data filled

In [123]:
data_overall.fillna(0, inplace=True)
data_overall.head()

,Location,2010,2011,2012-May,2012-September,2013-May,2013-September,2014-May,2014-September,2015-May,2019-May,Total,Average
0,03rd / Bannock,0.0,0.0,0.0,0.0,0.0,52.0,0.0,0.0,0.0,0.0,52,52
1,03rd / Myrtle,0.0,151.0,0.0,0.0,59.0,150.0,95.0,133.0,0.0,0.0,588,117.6
2,05th / Idaho,0.0,0.0,0.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0,28,28
3,06th / O'Farrell,0.0,0.0,0.0,62.0,0.0,0.0,0.0,0.0,0.0,0.0,62,62
4,06th / Union,0.0,0.0,0.0,137.0,0.0,0.0,0.0,0.0,0.0,0.0,137,137

The second sheet is called **ACHD** and is empty so we ignore it.

The third sheet is called **2007** and contains bike counts across various intersection in Boise in 2007. 
- The data is split by gender and further by whether the bike was on a stree or a side walk. 
- Data is also vailable on how many bikers were wearing helmets and how many weren't.

In [5]:
data_2007 = pd.read_excel(bike_count,'2007')
data_2007.head()

,Location,Date,Time,Total,Men,On Street,On Sidewalk,With Helmets,Without Helmets,Women,On Street.1,On Sidewalk.1,With Helmets.1,Without Helmets.1,Volunteer Name
0,8th / Fort,2007-05-08,AM,82.0,48.0,31.0,17.0,28.0,23.0,34.0,11.0,22.0,16.0,18.0,K Lundstrom
1,10th / Bannock,2007-05-10,AM,69.0,49.0,43.0,6.0,30.0,19.0,20.0,16.0,4.0,7.0,13.0,K Lundstrom
2,13th / Fort,2007-04-24,AM,51.0,35.0,23.0,12.0,27.0,8.0,16.0,7.0,9.0,10.0,6.0,M Andrew Tripp
3,23rd / State,2007-05-01,AM,18.0,6.0,2.0,4.0,3.0,3.0,12.0,0.0,12.0,8.0,4.0,M Andrew Tripp
4,27th / State,2007-05-09,PM,34.0,26.0,8.0,18.0,9.0,17.0,8.0,1.0,7.0,4.0,4.0,K Lundstrom

The fourth sheet is called **2008** and contains bike counts across various intersection in Boise in 2008. 
- The data is split by gender and further by whether the bike was on a street or a side walk. 
- Data is also vailable on how many bikers were wearing helmets and how many weren't.

In [6]:
data_2008 = pd.read_excel(bike_count,'2008')
data_2008.head()

,Location,Date,Time,Total,Men,On Street,On Sidewalk,With Helmets,Without Helmets,Women,On Street.1,On Sidewalk.1,With Helmets.1,Without Helmets.1,Volunteer Name
0,8th / Fort,2008-09-23,PM,150.0,101.0,55.0,46.0,36.0,65.0,49.0,26.0,23.0,23.0,26.0,Steve Dunlop
1,10th / Bannock,2008-09-24,PM,174.0,116.0,107.0,9.0,39.0,77.0,58.0,45.0,13.0,22.0,36.0,Krista Broderick
2,13th / Fort,2008-09-23,PM,135.0,87.0,58.0,29.0,47.0,40.0,48.0,24.0,24.0,21.0,27.0,Walt Sledzieski
3,36th / Hill / Catalpa,2008-09-23,AM,46.0,32.0,20.0,12.0,21.0,11.0,14.0,8.0,6.0,10.0,4.0,Al Kristal
4,36th / Hill / Catalpa,2008-09-24,PM,50.0,46.0,39.0,7.0,37.0,9.0,4.0,3.0,1.0,3.0,1.0,Amar

In [7]:
data_2010 = pd.read_excel(bike_count,'2010')
data_2010.head()

,Location,Date,Time,Total,Total: Location 1,Total: Location 2,Leaving Leg A,Leaving Leg B,Leaving Leg C,Leaving Leg D,Volunteer Name
0,08th / Bannock,2010-09-16,AM,131.0,55.0,76.0,33.0,15.0,22.0,61.0,David Peckham
1,08th / Bannock,2010-09-14,PM,267.0,133.0,134.0,25.0,51.0,108.0,83.0,Tacy Hitchcock
2,08th / Fort,2010-09-15,PM,132.0,72.0,60.0,22.0,35.0,50.0,25.0,Cindy Ritchie
3,08th / Greenbelt,2010-09-14,PM,270.0,64.0,206.0,64.0,127.0,0.0,79.0,Mark Ritchie
4,08th / River,2010-09-15,AM,114.0,93.0,21.0,62.0,7.0,31.0,14.0,David Peckham

In [8]:
data_2011 = pd.read_excel(bike_count,'2011')
data_2011.head()

,Location,Date,Time,Total,Total: Location 1,Total: Location 2,Leaving Leg A,Leaving Leg B,Leaving Leg C,Leaving Leg D,Volunteer Name
0,03rd / Myrtle,2011-09-14,PM,151.0,110.0,41.0,52.0,23.0,58.0,18.0,Justin Lucas
1,08th / Bannock,2011-09-15,AM,115.0,44.0,71.0,26.0,28.0,18.0,43.0,Dave Fostch
2,08th / Greenbelt S,2011-09-13,PM,346.0,61.0,285.0,61.0,182.0,0.0,103.0,Amy Stahl
3,08th / River,2011-09-13,PM,249.0,203.0,46.0,104.0,35.0,99.0,11.0,Mark Ritchie
4,28th / Sunset,2011-09-14,AM,23.0,9.0,14.0,4.0,7.0,5.0,7.0,Sarah Lunstrum

In [9]:
data_2012_may = pd.read_excel(bike_count,'2012-May')
data_2012_may.head()

,Location,Date,Time,Total,Total: Location 1,Total: Location 2,Leaving Leg A,Leaving Leg B,Leaving Leg C,Leaving Leg D,Volunteer Name
0,08th / Bannock,2012-05-16,AM,148.0,56.0,92.0,19.0,29.0,37.0,63.0,Jim Pace
1,08th / Franklin,2012-05-17,AM,61.0,28.0,33.0,19.0,3.0,9.0,30.0,Andy Query
2,08th / River,2012-05-16,AM,115.0,93.0,22.0,42.0,13.0,51.0,9.0,Dan Conlin
3,10th /Bannock,2012-05-16,PM,185.0,60.0,125.0,27.0,80.0,33.0,45.0,Naala Figuroas
4,10th / Franklin,2012-05-15,AM,113.0,32.0,81.0,28.0,10.0,4.0,71.0,Andy Query

In [10]:
data_2012_sept = pd.read_excel(bike_count,'2012-September')
data_2012_sept.head()

,Location,Date,Time,Total,Total: Location 1,Total: Location 2,Leaving Leg A,Leaving Leg B,Leaving Leg C,Leaving Leg D,Volunteer Name
0,05th / Idaho,2012-09-13,AM,28.0,13.0,15.0,4.0,12.0,9.0,3.0,Jim Pace
1,06th / O'Farrell,2012-09-13,PM,62.0,45.0,17.0,11.0,8.0,34.0,9.0,Vicki Trees
2,06th / Union,2012-09-11,PM,127.0,83.0,44.0,31.0,14.0,52.0,30.0,Naala Figueras
3,06th / Union,2012-09-12,AM,46.0,23.0,23.0,18.0,9.0,5.0,14.0,Naala Figueras
4,06th / Union,2012-09-15,PM,137.0,110.0,27.0,25.0,7.0,85.0,20.0,Vicki Trees

In [11]:
data_2013_may = pd.read_excel(bike_count,'2013-May')
data_2013_may.head()

,Location,Date,Time,Total,Total: Location 1,Total: Location 2,Leaving Leg A,Leaving Leg B,Leaving Leg C,Leaving Leg D,Volunteer Name
0,03rd / Myrtle,2013-05-07,AM,59.0,51.0,8.0,17.0,2.0,34.0,6.0,Tony Grange
1,08th / Bannock,2013-05-09,AM,149.0,50.0,99.0,15.0,25.0,35.0,74.0,Jim Pace
2,08th / Fort,2013-05-09,PM,143.0,89.0,54.0,16.0,35.0,73.0,19.0,Robert Moore
3,08th / N Greenbelt,2013-05-07,AM,200.0,74.0,126.0,56.0,44.0,18.0,82.0,Matt Bergstrom
4,08th / River,2013-05-08,AM,123.0,114.0,9.0,54.0,7.0,60.0,2.0,Mark Ritchie

In [12]:
data_2013_sept = pd.read_excel(bike_count,'2013-September')
data_2013_sept.head()

,Location,Date,Time,Total,Total: Location 1,Total: Location 2,Leaving Leg A,Leaving Leg B,Leaving Leg C,Leaving Leg D,Volunteer Name
0,03rd / Bannock,2013-09-10,AM,52.0,21.0,31.0,5.0,13.0,16.0,18.0,Andy Query
1,03rd / Myrtle,2013-09-10,PM,150.0,120.0,30.0,58.0,16.0,62.0,14.0,Kathleen Coskey
2,07th / Brumback,2013-09-11,AM,24.0,4.0,20.0,2.0,16.0,2.0,4.0,Kay Hummel
3,08th / Bannock,2013-09-10,AM,165.0,62.0,103.0,27.0,31.0,35.0,72.0,Jim Pace
4,08th / Bannock,2013-09-11,AM,149.0,68.0,81.0,28.0,24.0,40.0,57.0,Jim Pace

In [13]:
data_2014_may = pd.read_excel(bike_count,'2014-May')
data_2014_may.head()

,Location,Date,Time,Total,Total: Location 1,Total: Location 2,Leaving Leg A,Leaving Leg B,Leaving Leg C,Leaving Leg D,Volunteer Name
0,03rd / Myrtle,2014-05-08,AM,95.0,84.0,11.0,26.0,3.0,58.0,8.0,Marcus Orton
1,08th / Bannock,2014-05-07,AM,111.0,36.0,75.0,14.0,28.0,22.0,47.0,Jim Pace
2,08th / Bannock,2014-05-07,PM,234.0,116.0,118.0,35.0,62.0,81.0,56.0,Vicki Trees
3,08th / Fort,2014-05-07,PM,109.0,67.0,42.0,6.0,28.0,61.0,14.0,Karry Fischer
4,08th / Main,2014-05-08,PM,276.0,175.0,101.0,75.0,20.0,100.0,81.0,Gracie Bingham

In [14]:
data_2014_sept = pd.read_excel(bike_count,'2014-September')
data_2014_sept.head()

,Location,Date,Time,Total,Total: Location 1,Total: Location 2,Leaving Leg A,Leaving Leg B,Leaving Leg C,Leaving Leg D,Volunteer Name
0,03rd / Myrtle,2014-09-10,PM,133.0,105.0,28.0,46.0,14.0,59.0,14.0,Jean Cardeno
1,03rd / Myrtle,2014-09-11,AM,87.0,72.0,15.0,33.0,6.0,39.0,9.0,Kelly Paananen
2,08th / Bannock,2014-09-10,AM,201.0,41.0,160.0,11.0,36.0,30.0,124.0,Jim Pace
3,08th / Bannock,2014-09-11,PM,306.0,145.0,161.0,35.0,61.0,110.0,100.0,Jim Pace
4,08th / Brumback,2014-09-11,AM,30.0,19.0,11.0,12.0,10.0,7.0,1.0,Kristin Little

In [16]:
data_2015_may_jub = pd.read_excel(bike_count,'2015-May JUB')
data_2015_may_jub.head()

,Location,Date,Time,Total,Total: Location 1,Total: Location 2,Leaving Leg A,Leaving Leg B,Leaving Leg C,Leaving Leg D,Volunteer Name
0,36th / Taft,2015-05-27,AM,22.0,13.0,9.0,10.0,5.0,3.0,4.0,Michael Van Lydegraf
1,Bogart / Caswell,2015-05-27,PM,8.0,6.0,2.0,3.0,0.0,3.0,2.0,Kristi Watkins
2,Bogart / State,2015-05-27,AM,6.0,3.0,3.0,2.0,1.0,1.0,2.0,Kristi Watkins
3,Collister / State,2015-05-28,AM,17.0,8.0,9.0,8.0,3.0,0.0,6.0,Michael Van Lydegraf
4,Gary / Gillis,2015-05-27,PM,29.0,19.0,10.0,10.0,3.0,9.0,7.0,Travis Jeffers

In [17]:
data_2016_may = pd.read_excel(bike_count,'2016- May')
data_2016_may.head()

,Location,Date,Time,Total,Total: Location 1,Total: Location 2,Leaving Leg A,Leaving Leg B,Leaving Leg C,Leaving Leg D,Volunteer Name,Unnamed: 11
0,Bown/Parkcenter,2016-05-11,AM,36,11,25.0,0,22.0,11.0,3.0,Steve Dunlap,NaN
1,Beacon/Boise,2016-05-11,AM,94,46,48.0,11,34.0,35.0,14.0,Bryan Wilkins,NaN
2,27th/State,2016-05-12,PM,53,23,30.0,6,13.0,17.0,17.0,Jean CoadeÃ±o,NaN
3,Veterans Memorial/Chinden,2016-05-11,PM,62,36,26.0,15,16.0,21.0,10.0,Robert McGarvey,NaN
4,Hill/Horseshoe Bend,2016-05-11,AM,18,7,11.0,7,7.0,0.0,4.0,Ailen Fry,NaN

In [18]:
data_2018_may = pd.read_excel(bike_count,'2018 - May')
data_2018_may.head()

,Location,Date,Time,Total,Total: Location 1,Total: Location 2,Leaving Leg A,Leaving Leg B,Leaving Leg C,Leaving Leg D,Volunteer Name
0,Federal/Protest/Kootenia,2018-05-09,am,66.0,24.0,42.0,5.0,17.0,19.0,25.0,Janell Ruthe
1,10th and Franklin/Boise High,2018-05-09,am,148.0,54.0,94.0,43.0,10.0,11.0,84.0,Joanie Fauci
2,Garden St/Franklin Rd,2019-05-10,PM,33.0,20.0,13.0,10.0,4.0,10.0,9.0,Christa Howarth
3,27th/State St,2018-05-09,PM,45.0,31.0,14.0,11.0,9.0,20.0,5.0,Lisa Ozuna
4,10th/Bannock,2018-05-01,PM,206.0,74.0,132.0,26.0,69.0,48.0,63.0,Kelly Frazier

In [19]:
data_2019_may = pd.read_excel(bike_count,'2019 - May')
data_2019_may.head()

,Location,Date,Time,Total,Total: Location 1,Total: Location 2,Leaving Leg A,Leaving Leg B,Leaving Leg C,Leaving Leg D,Volunteer Name
0,8th/Bannock,2019-05-07,AM,130.0,32,98.0,13.0,27.0,19.0,71.0,Brian Wilkens
1,8th/fort,2019-05-07,AM,43.0,26,17.0,14.0,10.0,12.0,7.0,April Fredrickson
2,8th/river,2019-05-07,PM,282.0,239,43.0,169.0,30.0,70.0,13.0,Clancy Anderson
3,Anne frank/greenbelt,2019-05-08,AM,156.0,4,152.0,4.0,63.0,0.0,89.0,Kristen Little
4,Latah/Kootani,2019-05-07,PM,34.0,23,11.0,11.0,6.0,12.0,5.0,Greg Little

**Loading the dbf files**

In [72]:
bike_dbf = Dbf5('bike.dbf')
funclass_dbf = Dbf5('Funclass.dbf')
ACHD_dbf = Dbf5('ACHD Traffic Counts.dbf')

,LENGTH,AGENCY,YEAR,FCLASS,PATHTYPE,Date,StPreDir,StName,StSuffix,LengthMile,SpeedLimit,City,Segment,BikeLnMile,NoOfLanes,MarksOrSig,Plans,Shape_STLe
0,6986.963846,ACHD,1995,ARTERIAL,Bike Lane,2016-08-09,E,Warm Springs,Ave,1.323289,30,Boise,Avenue C-Old Penitentiary,2.646577,2,NaN,NaN,6986.963846
1,457.445459,ACHD,2003,LOCAL,Bike Lane,2016-08-12,S,Riverstone,Ln,0.086637,15,Boise,River Run-Riverpark,0.173275,2,NaN,NaN,457.445459
2,4774.728140,ACHD,1995,COLLECTOR,Bike Lane,2016-08-12,E,River Run,Dr,0.904305,20,Boise,Parkcenter-Parkcenter,1.808609,2,NaN,NaN,4774.728140
3,5316.741855,ACHD,1996,COLLECTOR,Bike Lane,2016-08-17,W,Desert,Ave,1.006959,30,Ada,Maple Grove-Cole,2.013917,2,NaN,NaN,5316.741855
4,2190.112489,ACHD,2000,ARTERIAL,Bike Lane,2016-06-27,W,Hill,Pkwy,0.414794,35,Boise,Horseshoe Bend-Gary,0.829588,2,NaN,NaN,2190.112489
5,4851.319504,ACHD,2002,ARTERIAL,Bike Lane,2016-08-03,N,Five Mile,Rd,0.918811,35,Boise,Ustick-Chinden,1.837621,2,NaN,NaN,4851.319504
6,4396.472026,ACHD,1991,ARTERIAL,Bike Lane,2016-08-03,W,Goddard,Rd,0.832665,30,Boise,Glenwood-Maple Grove,1.665330,2,NaN,NaN,4396.472026
7,3371.286196,ACHD,1998,ARTERIAL,Bike Lane,2016-08-05,N,Curtis,Rd,0.638501,30,Boise,Fairview-Settlers Canal,1.277002,2,NaN,NaN,3371.286196
8,472.218509,ACHD,2003,ARTERIAL,Bike Lane,2016-08-17,N,Meadowland,Dr,0.089435,20,Boise,Cloverdale-Five Mile,0.178871,2,NaN,NaN,472.218509
9,2571.528747,ACHD,2003,ARTERIAL,Bike Lane,2016-08-08,W,President,Dr,0.487032,35,Boise,Cloverdale-Five Mile,0.974064,2,NaN,NaN,2571.528747
10,5754.606620,ACHD,2003,ARTERIAL,Bike Lane,2016-08-08,W,Executive,Dr,1.089888,35,Boise,Cloverdale-Five Mile,2.179775,2,NaN,NaN,5754.606620
11,8162.944390,ACHD,2003,ARTERIAL,Bike Lane,2016-08-08,W,Emerald,St,1.546012,30,Boise,Cole-Orchard,3.092024,2,NaN,NaN,8162.944390
12,6607.959602,ACHD,2003,COLLECTOR,Bike Lane,2016-08-05,N,Mitchell,St,1.251507,30,Boise,Ustick-Emerald,2.503015,2,NaN,NaN,6607.959602
13,2623.893726,ACHD,2007,COLLECTOR,Bike Lane,2016-08-03,N,Maple Grove,Rd,0.496950,35,Boise,McMillan-Pembrook,0.993899,2,NaN,NaN,2623.893726
14,5346.928635,ACHD,1995,ARTERIAL,Bike Lane,2016-08-02,W,McMillan,Rd,1.012676,35,Boise,Eagle-Five Mile,2.025352,2,NaN,NaN,5346.928635
15,5238.892646,ACHD,2003,ARTERIAL,Bike Lane,2016-08-02,N,Cloverdale,Rd,0.992215,35,Boise,McMillan-Chinden,1.984429,2,NaN,NaN,5238.892646
16,2918.964435,ACHD,2003,COLLECTOR,Neighborhood Bike Route,2016-08-02,N,Mitchell,St,0.552834,25,Boise,NaN,1.105668,2,NaN,NaN,2918.964435
17,886.818886,ACHD,2003,COLLECTOR,Neighborhood Bike Route,2016-08-02,N,Mountain View,Dr,0.167958,25,Boise,NaN,0.335916,2,NaN,NaN,886.818886
18,3922.301412,ACHD,2003,ARTERIAL,Bike Lane,2016-08-03,W,Ustick,Rd,0.742860,30,Boise,Cole-Curtis,1.485720,2,NaN,NaN,3922.301412
19,5271.057381,ACHD,1991,ARTERIAL,Bike Lane,2016-08-05,N,Milwaukee,St,0.998306,30,Boise,UPRR-Goddard,1.996613,2,NaN,NaN,5271.057381
20,5546.240875,ACHD,2003,COLLECTOR,Shared Bike Route,2016-08-05,W,Northview,St,1.050424,25,Boise,NaN,2.100849,2,NaN,NaN,5546.240875
21,550.055594,ACHD,2003,LOCAL,Neighborhood Bike Route,2016-08-05,W,Lubkin,St,0.104177,20,Boise,NaN,0.208354,2,NaN,NaN,550.055594
22,3362.557539,ACHD,2018,ARTERIAL,Bike Lane,2018-09-17,N,Orchard,St,0.636848,30,Garden City,Chinden Blvd to Irving St,1.273696,2,NaN,NaN,3362.557539
23,325.741038,ACHD,2003,LOCAL,Neighborhood Bike Route,2016-08-05,W,Bond,St,0.061693,20,Boise,NaN,0.123387,2,NaN,NaN,325.741038
24,351.835344,ACHD,2003,LOCAL,Neighborhood Bike Route,2016-08-05,N,Fowler,St,0.066635,20,Boise,NaN,0.133271,2,NaN,NaN,351.835344
25,1079.253972,ACHD,2003,LOCAL,Neighborhood Bike Route,2016-08-05,W,Lynwood,Pl,0.204404,20,Boise,NaN,0.408808,2,NaN,NaN,1079.253972
26,1368.700845,ACHD,2003,LOCAL,Neighborhood Bike Route,2016-08-05,N,Mountain View,Dr,0.259224,20,Boise,NaN,0.518447,2,NaN,NaN,1368.700845
27,6606.084353,ACHD,1991,ARTERIAL,Bike Lane,2016-08-09,S,Curtis,Rd,1.251152,30,Boise,Overland-Morris Hill,2.502305,2,NaN,NaN,6606.084353
28,1677.257721,ACHD,2003,COLLECTOR,Bike Lane,2016-08-08,W,Cassia,St,0.317662,20,Boise,Franklin Park-Gamay,0.635325,2,NaN,NaN,1677.257721
29,1331.100413,ACHD,2003,LOCAL,Neighborhood Bike Route,2016-08-17,W,Edson,St,0.252102,20,Boise,NaN,0.504205,2,NaN,NaN,1331.100413
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1150,1360.410103,ACHD,2017,ARTERIAL,Difficult Bike Route,2017-03-28,S,Federal Ramp,Rd,0.257653,45,Boise,2000' SO Federal Way to Federal Way (Both Fed Way,0.257653,1,None,NaN,1360.410103
1151,1833.941650,ACHD,2017,ARTERIAL,Difficult Bike Route,2017-03-28,S,Capitol,Blvd,0.347337,35,Boise,Vista to University,0.347337,1,None,NaN,1833.941650
1152,2246.258838,ACHD,2001,COLLECTOR,Bike Lane,2016-08-16,N,Ten Mile,Rd,0.425428,50,Kuna,Mason Creek-4th,0.850856,2,NaN,NaN,2246.258838
1153,2629.778259,STATE,2015,ARTERIAL,Bike Lane,2016-07-19,S,Linder,Rd,0.498064,50,Ada,NaN,0.996128,2,None,NaN,2629.778259
1154,372.081080,ACHD,2007,COLLECTOR,Difficult Bike Route,2016-08-03,N,Maple Grove,Rd,0.070470,35,Boise,McMillan-Pembrook,0.140940,2,NaN,NaN,372.081080
1155,504.319313,ACHD,2015,ARTERIAL,Shared Bike Route,2016-08-03,N,Maple Grove,Rd,0.095515,35,Boise,Ustick-Pembrook,0.191030,2,NaN,NaN,504.319312
1156,920.106873,ACHD,2015,ARTERIAL,Difficult Bike Route,2016-08-04,N,Linder,Rd,0.174263,35,Meridian,Chateau-Tumble Creek,0.348525,2,NaN,NaN,920.106873
1157,628.857397,ACHD,2008,ARTERIAL,Bike Lane,2016-08-04,N,Cloverdale,Rd,0.119102,35,Boise,Fairview IS,0.238204,2,NaN,NaN,628.857397
1158,818.618112,ACHD,2015,ARTERIAL,Bike Lane,2016-08-12,E,Gowen,Rd,0.155041,35,Boise,NaN,0.310083,2,NaN,NaN,818.618112
1159,280.440020,ACHD,2013,ARTERIAL,Shared Bike Route,2016-08-17,W,Kootenai,St,0.053114,30,Boise,NaN,0.106227,2,NaN,NaN,280.440020
1160,5306.417648,ACHD,2017,ARTERIAL,Bike Lane,2017-03-29,W,Franklin,Blvd,1.005003,40,Meridian,Linder - Meridian,2.010007,2,None,NaN,5306.417648
1161,4179.612772,ACHD,2017,ARTERIAL,Shared Bike Route,2017-06-22,W,Jefferson,St,0.791593,30,Boise,Jefferson St. 5th -16th Street,1.583187,2,Sharrow,NaN,4179.612772
1162,1404.364758,ACHD,2017,ARTERIAL,Bike Lane,2017-10-12,N,Cole,Rd,0.265978,35,Boise,Maxwell Dr to Wilshire Dr,0.531956,2,NaN,NaN,1404.364758
1163,1917.446872,ACHD,2017,ARTERIAL,Bike Lane,2017-10-12,W,Fairview,Ave,0.363153,35,Boise,Westland Dr to Eldorado St,0.726306,2,NaN,NaN,1917.446872
1164,2313.212433,ACHD,2017,ARTERIAL,Bike Lane,2017-10-12,N,Meridian,Rd,0.438108,35,Meridian,Sedgewick Dr to Ashby Dr,0.876217,2,NaN,NaN,2313.212433
1165,3338.075158,ACHD,2017,COLLECTOR,Bike Lane,2017-10-12,E,Plaza,Dr,0.632211,20,Eagle,State St to 2nd St,1.264422,2,NaN,NaN,3338.075158
1166,5657.484792,ACDH,2017,ARTERIAL,Bike Lane,2017-10-12,E,State,St,1.071493,25,Eagle,Eagle Rd to Edgewood Ln,2.142987,2,NaN,NaN,5657.484792
1167,337.555296,ACDH,2017,ARTERIAL,Bike Lane,2017-10-12,E,State,St,0.063931,35,Eagle,Edgewood Ln to Iron Eagle Dr,0.127862,2,NaN,NaN,337.555296
1168,1023.160687,ACHD,1995,ARTERIAL,Bike Lane,2016-07-19,N,15th,St,0.193780,30,Boise,Americana-Hays,0.193780,1,NaN,NaN,1023.160687
1169,4762.783206,ACHD,1991,COLLECTOR,Bike Lane,2016-07-19,N,15th,St,0.902042,30,Boise,Fort-Hill,1.804085,2,NaN,NaN,4762.783206
1170,1332.687813,ACHD,2018,COLLECTOR,Bike Lane,2018-09-17,W,Irving,St,0.252403,30,Boise,Orchard St to Phillippi St,0.504806,2,NaN,NaN,1332.687813
1171,3068.929191,ACHD,2018,Collector,Bike Lane,2018-09-17,S,Vanguard,Way,0.581237,20,Meridian,Ten Mile to roudabout,1.162473,2,NaN,NaN,3068.929191
1172,337.542481,ACHD,2018,ARTERIAL,Bike Lane,2018-09-17,N,Avenue B,Ave,0.063928,30,Boise,Bannock St to Jefferson St,0.127857,2,None,Cycle Track,337.542481
1173,379.013228,ACHD,2018,ARTERIAL,Bike Lane,2018-09-17,W,State,St,0.071783,30,Boise,1st to 2nd St,0.143566,2,NaN,Cycle Track,379.013228
1174,2073.819695,ACHD,2018,LOCAL,Bike Lane,2018-10-12,E,Old Penitentiary,Rd,0.392769,20,Boise,Warm Springs to End,0.785538,2,None,NaN,2073.819695
1175,2823.538956,ACHD,2018,ARTERIAL,Bike Lane,2018-10-12,E,Parkcenter,Way,0.534761,35,Boise,Wise way to Warm Springs,1.069522,2,None,NaN,2823.538956
1176,339.891656,ACHD,2015,ARTERIAL,Buffered Bike Lane,2016-08-09,S,Capitol,Blvd,0.064373,25,Boise,Front-Jefferson,0.064373,1,NaN,NaN,339.891656
1177,767.679331,ACHD,2018,ARTERIAL,Bike Lane,2016-06-28,W,State,St,0.145394,35,Boise,Arthur St to 34th St,0.290788,2,None,NaN,767.679331
1178,1312.684909,ACHD,2018,ARTERIAL,Bike Lane,2018-12-28,W,State,St,0.248615,35,Boise,Arthur St to 34th St,0.497229,2,None,NaN,1312.684909
1179,809.403587,ACHD,2015,ARTERIAL,Bike Lane,2016-07-19,N,Veterans Memorial,Pkwy,0.153296,35,Boise,State St to W Glendale,0.306592,2,None,NaN,809.403587

In [88]:
bike_DF

,LENGTH,AGENCY,YEAR,FCLASS,PATHTYPE,Date,StPreDir,StName,StSuffix,LengthMile,SpeedLimit,City,Segment,BikeLnMile,NoOfLanes,MarksOrSig,Plans,Shape_STLe
0,6986.963846,ACHD,1995,ARTERIAL,Bike Lane,2016-08-09,E,Warm Springs,Ave,1.323289,30,Boise,Avenue C-Old Penitentiary,2.646577,2,NaN,NaN,6986.963846
1,457.445459,ACHD,2003,LOCAL,Bike Lane,2016-08-12,S,Riverstone,Ln,0.086637,15,Boise,River Run-Riverpark,0.173275,2,NaN,NaN,457.445459
2,4774.728140,ACHD,1995,COLLECTOR,Bike Lane,2016-08-12,E,River Run,Dr,0.904305,20,Boise,Parkcenter-Parkcenter,1.808609,2,NaN,NaN,4774.728140
3,5316.741855,ACHD,1996,COLLECTOR,Bike Lane,2016-08-17,W,Desert,Ave,1.006959,30,Ada,Maple Grove-Cole,2.013917,2,NaN,NaN,5316.741855
4,2190.112489,ACHD,2000,ARTERIAL,Bike Lane,2016-06-27,W,Hill,Pkwy,0.414794,35,Boise,Horseshoe Bend-Gary,0.829588,2,NaN,NaN,2190.112489
5,4851.319504,ACHD,2002,ARTERIAL,Bike Lane,2016-08-03,N,Five Mile,Rd,0.918811,35,Boise,Ustick-Chinden,1.837621,2,NaN,NaN,4851.319504
6,4396.472026,ACHD,1991,ARTERIAL,Bike Lane,2016-08-03,W,Goddard,Rd,0.832665,30,Boise,Glenwood-Maple Grove,1.665330,2,NaN,NaN,4396.472026
7,3371.286196,ACHD,1998,ARTERIAL,Bike Lane,2016-08-05,N,Curtis,Rd,0.638501,30,Boise,Fairview-Settlers Canal,1.277002,2,NaN,NaN,3371.286196
8,472.218509,ACHD,2003,ARTERIAL,Bike Lane,2016-08-17,N,Meadowland,Dr,0.089435,20,Boise,Cloverdale-Five Mile,0.178871,2,NaN,NaN,472.218509
9,2571.528747,ACHD,2003,ARTERIAL,Bike Lane,2016-08-08,W,President,Dr,0.487032,35,Boise,Cloverdale-Five Mile,0.974064,2,NaN,NaN,2571.528747
10,5754.606620,ACHD,2003,ARTERIAL,Bike Lane,2016-08-08,W,Executive,Dr,1.089888,35,Boise,Cloverdale-Five Mile,2.179775,2,NaN,NaN,5754.606620
11,8162.944390,ACHD,2003,ARTERIAL,Bike Lane,2016-08-08,W,Emerald,St,1.546012,30,Boise,Cole-Orchard,3.092024,2,NaN,NaN,8162.944390
12,6607.959602,ACHD,2003,COLLECTOR,Bike Lane,2016-08-05,N,Mitchell,St,1.251507,30,Boise,Ustick-Emerald,2.503015,2,NaN,NaN,6607.959602
13,2623.893726,ACHD,2007,COLLECTOR,Bike Lane,2016-08-03,N,Maple Grove,Rd,0.496950,35,Boise,McMillan-Pembrook,0.993899,2,NaN,NaN,2623.893726
14,5346.928635,ACHD,1995,ARTERIAL,Bike Lane,2016-08-02,W,McMillan,Rd,1.012676,35,Boise,Eagle-Five Mile,2.025352,2,NaN,NaN,5346.928635
15,5238.892646,ACHD,2003,ARTERIAL,Bike Lane,2016-08-02,N,Cloverdale,Rd,0.992215,35,Boise,McMillan-Chinden,1.984429,2,NaN,NaN,5238.892646
16,2918.964435,ACHD,2003,COLLECTOR,Neighborhood Bike Route,2016-08-02,N,Mitchell,St,0.552834,25,Boise,NaN,1.105668,2,NaN,NaN,2918.964435
17,886.818886,ACHD,2003,COLLECTOR,Neighborhood Bike Route,2016-08-02,N,Mountain View,Dr,0.167958,25,Boise,NaN,0.335916,2,NaN,NaN,886.818886
18,3922.301412,ACHD,2003,ARTERIAL,Bike Lane,2016-08-03,W,Ustick,Rd,0.742860,30,Boise,Cole-Curtis,1.485720,2,NaN,NaN,3922.301412
19,5271.057381,ACHD,1991,ARTERIAL,Bike Lane,2016-08-05,N,Milwaukee,St,0.998306,30,Boise,UPRR-Goddard,1.996613,2,NaN,NaN,5271.057381
20,5546.240875,ACHD,2003,COLLECTOR,Shared Bike Route,2016-08-05,W,Northview,St,1.050424,25,Boise,NaN,2.100849,2,NaN,NaN,5546.240875
21,550.055594,ACHD,2003,LOCAL,Neighborhood Bike Route,2016-08-05,W,Lubkin,St,0.104177,20,Boise,NaN,0.208354,2,NaN,NaN,550.055594
22,3362.557539,ACHD,2018,ARTERIAL,Bike Lane,2018-09-17,N,Orchard,St,0.636848,30,Garden City,Chinden Blvd to Irving St,1.273696,2,NaN,NaN,3362.557539
23,325.741038,ACHD,2003,LOCAL,Neighborhood Bike Route,2016-08-05,W,Bond,St,0.061693,20,Boise,NaN,0.123387,2,NaN,NaN,325.741038
24,351.835344,ACHD,2003,LOCAL,Neighborhood Bike Route,2016-08-05,N,Fowler,St,0.066635,20,Boise,NaN,0.133271,2,NaN,NaN,351.835344
25,1079.253972,ACHD,2003,LOCAL,Neighborhood Bike Route,2016-08-05,W,Lynwood,Pl,0.204404,20,Boise,NaN,0.408808,2,NaN,NaN,1079.253972
26,1368.700845,ACHD,2003,LOCAL,Neighborhood Bike Route,2016-08-05,N,Mountain View,Dr,0.259224,20,Boise,NaN,0.518447,2,NaN,NaN,1368.700845
27,6606.084353,ACHD,1991,ARTERIAL,Bike Lane,2016-08-09,S,Curtis,Rd,1.251152,30,Boise,Overland-Morris Hill,2.502305,2,NaN,NaN,6606.084353
28,1677.257721,ACHD,2003,COLLECTOR,Bike Lane,2016-08-08,W,Cassia,St,0.317662,20,Boise,Franklin Park-Gamay,0.635325,2,NaN,NaN,1677.257721
29,1331.100413,ACHD,2003,LOCAL,Neighborhood Bike Route,2016-08-17,W,Edson,St,0.252102,20,Boise,NaN,0.504205,2,NaN,NaN,1331.100413
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1150,1360.410103,ACHD,2017,ARTERIAL,Difficult Bike Route,2017-03-28,S,Federal Ramp,Rd,0.257653,45,Boise,2000' SO Federal Way to Federal Way (Both Fed Way,0.257653,1,None,NaN,1360.410103
1151,1833.941650,ACHD,2017,ARTERIAL,Difficult Bike Route,2017-03-28,S,Capitol,Blvd,0.347337,35,Boise,Vista to University,0.347337,1,None,NaN,1833.941650
1152,2246.258838,ACHD,2001,COLLECTOR,Bike Lane,2016-08-16,N,Ten Mile,Rd,0.425428,50,Kuna,Mason Creek-4th,0.850856,2,NaN,NaN,2246.258838
1153,2629.778259,STATE,2015,ARTERIAL,Bike Lane,2016-07-19,S,Linder,Rd,0.498064,50,Ada,NaN,0.996128,2,None,NaN,2629.778259
1154,372.081080,ACHD,2007,COLLECTOR,Difficult Bike Route,2016-08-03,N,Maple Grove,Rd,0.070470,35,Boise,McMillan-Pembrook,0.140940,2,NaN,NaN,372.081080
1155,504.319313,ACHD,2015,ARTERIAL,Shared Bike Route,2016-08-03,N,Maple Grove,Rd,0.095515,35,Boise,Ustick-Pembrook,0.191030,2,NaN,NaN,504.319312
1156,920.106873,ACHD,2015,ARTERIAL,Difficult Bike Route,2016-08-04,N,Linder,Rd,0.174263,35,Meridian,Chateau-Tumble Creek,0.348525,2,NaN,NaN,920.106873
1157,628.857397,ACHD,2008,ARTERIAL,Bike Lane,2016-08-04,N,Cloverdale,Rd,0.119102,35,Boise,Fairview IS,0.238204,2,NaN,NaN,628.857397
1158,818.618112,ACHD,2015,ARTERIAL,Bike Lane,2016-08-12,E,Gowen,Rd,0.155041,35,Boise,NaN,0.310083,2,NaN,NaN,818.618112
1159,280.440020,ACHD,2013,ARTERIAL,Shared Bike Route,2016-08-17,W,Kootenai,St,0.053114,30,Boise,NaN,0.106227,2,NaN,NaN,280.440020
1160,5306.417648,ACHD,2017,ARTERIAL,Bike Lane,2017-03-29,W,Franklin,Blvd,1.005003,40,Meridian,Linder - Meridian,2.010007,2,None,NaN,5306.417648
1161,4179.612772,ACHD,2017,ARTERIAL,Shared Bike Route,2017-06-22,W,Jefferson,St,0.791593,30,Boise,Jefferson St. 5th -16th Street,1.583187,2,Sharrow,NaN,4179.612772
1162,1404.364758,ACHD,2017,ARTERIAL,Bike Lane,2017-10-12,N,Cole,Rd,0.265978,35,Boise,Maxwell Dr to Wilshire Dr,0.531956,2,NaN,NaN,1404.364758
1163,1917.446872,ACHD,2017,ARTERIAL,Bike Lane,2017-10-12,W,Fairview,Ave,0.363153,35,Boise,Westland Dr to Eldorado St,0.726306,2,NaN,NaN,1917.446872
1164,2313.212433,ACHD,2017,ARTERIAL,Bike Lane,2017-10-12,N,Meridian,Rd,0.438108,35,Meridian,Sedgewick Dr to Ashby Dr,0.876217,2,NaN,NaN,2313.212433
1165,3338.075158,ACHD,2017,COLLECTOR,Bike Lane,2017-10-12,E,Plaza,Dr,0.632211,20,Eagle,State St to 2nd St,1.264422,2,NaN,NaN,3338.075158
1166,5657.484792,ACDH,2017,ARTERIAL,Bike Lane,2017-10-12,E,State,St,1.071493,25,Eagle,Eagle Rd to Edgewood Ln,2.142987,2,NaN,NaN,5657.484792
1167,337.555296,ACDH,2017,ARTERIAL,Bike Lane,2017-10-12,E,State,St,0.063931,35,Eagle,Edgewood Ln to Iron Eagle Dr,0.127862,2,NaN,NaN,337.555296
1168,1023.160687,ACHD,1995,ARTERIAL,Bike Lane,2016-07-19,N,15th,St,0.193780,30,Boise,Americana-Hays,0.193780,1,NaN,NaN,1023.160687
1169,4762.783206,ACHD,1991,COLLECTOR,Bike Lane,2016-07-19,N,15th,St,0.902042,30,Boise,Fort-Hill,1.804085,2,NaN,NaN,4762.783206
1170,1332.687813,ACHD,2018,COLLECTOR,Bike Lane,2018-09-17,W,Irving,St,0.252403,30,Boise,Orchard St to Phillippi St,0.504806,2,NaN,NaN,1332.687813
1171,3068.929191,ACHD,2018,Collector,Bike Lane,2018-09-17,S,Vanguard,Way,0.581237,20,Meridian,Ten Mile to roudabout,1.162473,2,NaN,NaN,3068.929191
1172,337.542481,ACHD,2018,ARTERIAL,Bike Lane,2018-09-17,N,Avenue B,Ave,0.063928,30,Boise,Bannock St to Jefferson St,0.127857,2,None,Cycle Track,337.542481
1173,379.013228,ACHD,2018,ARTERIAL,Bike Lane,2018-09-17,W,State,St,0.071783,30,Boise,1st to 2nd St,0.143566,2,NaN,Cycle Track,379.013228
1174,2073.819695,ACHD,2018,LOCAL,Bike Lane,2018-10-12,E,Old Penitentiary,Rd,0.392769,20,Boise,Warm Springs to End,0.785538,2,None,NaN,2073.819695
1175,2823.538956,ACHD,2018,ARTERIAL,Bike Lane,2018-10-12,E,Parkcenter,Way,0.534761,35,Boise,Wise way to Warm Springs,1.069522,2,None,NaN,2823.538956
1176,339.891656,ACHD,2015,ARTERIAL,Buffered Bike Lane,2016-08-09,S,Capitol,Blvd,0.064373,25,Boise,Front-Jefferson,0.064373,1,NaN,NaN,339.891656
1177,767.679331,ACHD,2018,ARTERIAL,Bike Lane,2016-06-28,W,State,St,0.145394,35,Boise,Arthur St to 34th St,0.290788,2,None,NaN,767.679331
1178,1312.684909,ACHD,2018,ARTERIAL,Bike Lane,2018-12-28,W,State,St,0.248615,35,Boise,Arthur St to 34th St,0.497229,2,None,NaN,1312.684909
1179,809.403587,ACHD,2015,ARTERIAL,Bike Lane,2016-07-19,N,Veterans Memorial,Pkwy,0.153296,35,Boise,State St to W Glendale,0.306592,2,None,NaN,809.403587

In [12]:
funclass_DF = funclass_dbf.to_dataframe()
funclass_DF.head()

,OBJECTID,STREET_NAM,Agency,County,Miles,Shape_Leng,Location,Street_Org,Street_New,Prop_Org,Prop_New,Requestor,Contact,Justify,Area_of_Im,Arterial_O,Duplicate_,Shape_Le_1,Shape_STLe
0,0,Beacon Light Rd,Ada County HD,Ada,0.370975,1958.748362,E from Brandon,PROP MINOR ARTERIAL,PROP MINOR ARTERIAL,Y,Y,NaN,NaN,NaN,Star,NaN,NaN,1958.748435,1958.748210
1,389,Cloverdale Rd,Ada County HD,Ada,0.508788,2686.401708,Vallejo to Hubbard,MINOR ARTERIAL,MINOR ARTERIAL,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,2686.402212,2686.402213
2,1310,Overland (Realignment),Ada County HD,Ada,0.658897,3478.974441,e/o of Ten Mile to ex. Overland,PRINCIPAL ARTERIAL,PRINCIPAL ARTERIAL,NaN,NaN,ACHD,Justin Lucas,Reflects new alignment.,Meridian,NaN,NaN,3478.974568,3478.974500
3,1373,Linder Rd,Ada County HD,Ada,0.111780,590.199242,North of Overland,MINOR ARTERIAL,PRINCIPAL ARTERIAL,NaN,NaN,ACHD,Justin Lucas,None given.,Meridian,NaN,NaN,590.199051,590.198730
4,1313,Black Cat,Ada County HD,Ada,2.330630,12305.702559,I84 to Amity,MINOR ARTERIAL,MINOR ARTERIAL,NaN,NaN,NaN,NaN,NaN,Meridian,NaN,NaN,9271.430631,9271.430611

In [73]:
ACHD_DF = ACHD_dbf.to_dataframe()
ACHD_DF

,GisData_SD,Shape_STLe,TrafficCou,TrafficC_1,TrafficC_2,TrafficC_3,TrafficC_4,TrafficC_5,TrafficC_6,TrafficC_7,TrafficC_8,TrafficC_9,Traffic_10,Traffic_11,Traffic_12,Traffic_13,Traffic_14,Traffic_15,Traffic_16
0,6189,330.413812,785,6189,HAINES ST,41,11/18/08,NORTH OF SHENANDOAH DR,Boise,ITD Count,NaN,0,0,NB,0,0,SB,SHENANDOAH DR,N END
1,6188,720.403299,256,6188,BOGART LN,198,02/17/09,SOUTH OF HILL RD,Ada County,Approach & Total,NaN,9,7,NB,4,8,SB,HILL RD PKWY,HILL RD
2,6187,1167.028511,705,6187,GANDER DR,610,08/09/12,EAST OF LINDER RD,Meridian,Classification,NaN,8,29,EB,36,11,WB,LINDER RD,WALTMAN DR
3,6186,1642.665999,360,6186,CASTLE HILL WAY,821,11/15/18,NORTH OF CASTLE DR,Boise,Approach & Total,ITD Count,0,0,NB,0,0,SB,CASTLE DR,TURRET WY
4,6185,203.590987,1366,6185,PEPPERMINT DR,533,11/19/15,WEST OF CLOVERDALE RD,Boise,Approach & Total,NaN,19,13,EB,5,28,WB,CLOVERDALE RD,SCRANTON WY
5,6184,1394.319835,1339,6184,PASADENA DR,191,09/23/08,EAST OF OWYHEE ST,Boise,ITD Count,NaN,0,0,EB,0,0,WB,OWYHEE ST,EAST END
6,6183,545.924648,1761,6183,SWAINSON AVE,199,11/11/08,NORTH OF GEMSTONE DR,Meridian,Classification,NaN,1,16,NB,13,10,SB,GEMSTONE DR,KANDICE ST
7,6182,2525.877188,1260,6182,NORMANDIE DR,554,09/25/14,EAST OF SARAZEN WY,Boise,Approach & Total,NaN,9,31,EB,22,17,WB,ROOSEVELT ST,PASADENA DR
8,6181,1141.977527,285,6181,BROAD ST,525,10/21/15,EAST OF 04TH ST,Boise,Approach & Total,NaN,26,16,EB,23,34,WB,5TH ST,2ND ST
9,6180,2386.925280,2001,6180,YOSEMITE DR,320,10/23/08,WEST OF BRYCE CANYON AVE,Meridian,Classification,NaN,27,13,EB,22,15,WB,MCKINLEY PARK AVE,ALEXIS WY
10,6179,1840.661766,1939,6179,WHITE SANDS DR,252,10/28/08,WEST OF BRYCE CANYON AVE,Meridian,Classification,NaN,19,10,EB,5,20,WB,MCKINLEY PARK AVE,SUMMIT WY
11,6178,2953.492161,1981,6178,WOODBURY DR,982,03/14/19,EAST OF RIDGEBURY WAY,Meridian,Classification,7 Day Count,46,28,EB,14,60,WB,MERIDIAN RD,10TH AVE
12,6177,3355.166043,1658,6177,SORRENTO DR,215,03/28/19,NORTH OF MOUNTAIN VIEW DR,Boise,Approach & Total,NaN,0,13,NB,15,6,SB,BRYNWOOD DR,PARKWOOD ST
13,6176,1384.819987,1211,6176,MONUMENT ST,1646,08/01/18,EAST OF LINDER RD,Meridian,Approach & Total,NaN,13,91,EB,54,56,WB,LINDER RD,MCKINLEY PARK AVE
14,6175,1431.126298,999,6175,LA FONTANA WY,292,10/15/08,WEST OF LAMIESITA WY,Boise,Classification,NaN,7,22,EB,19,16,WB,EL PELAR DR,SANADA WY
15,6173,376.086474,1893,6173,WALES,601,09/05/08,SOUTH OF THORN CREEK ST,Meridian,Classification,NaN,22,29,NB,5,31,SB,THORN CREEK ST,BLUE CREEK ST
16,6172,588.419480,1806,6172,THUNDERBIRD,588,09/09/08,NORTH OF FLOATING FEATHER RD,Eagle,Approach & Total,NaN,13,29,NB,40,26,SB,FLOATING FEATHER RD,BROOKWOOD DR
17,6171,1471.706077,1801,6171,THORN CREEK,603,09/09/08,EAST OF WALES AVE,Meridian,Classification,NaN,44,28,EB,9,36,WB,BLACK CAT RD,MANSHIP PL
18,6170,860.997285,1381,6170,PINE BLUFF,370,09/09/08,WEST OF TRISTRAM WY,Meridian,Classification,NaN,8,26,EB,37,13,WB,TRISTRAM WY,KNAPP AVE
19,6169,4109.714828,880,6169,HOMER RD,119,04/11/18,WEST OF LINDER RD,Ada County,Approach & Total,ITD Count,0,0,EB,0,0,WB,LINDER RD,GOODER JOHN LN
20,6168,553.319217,741,6168,GOLFVIEW,683,09/09/08,SOUTH OF CHERRY LN,Meridian,Classification,NaN,57,28,NB,7,42,SB,CHERRY LN,THORN CREEK ST
21,6167,1373.656513,407,6167,CLACTON WY,153,08/31/17,SOUTH OF KINGSLAND WAY,Boise,Classification,7 Day Count,1,11,NB,8,4,SB,JESMOND WY,KINGSLAND WY
22,6166,3111.001882,127,6166,APGAR CREEK DR,401,03/20/19,WEST OF WILD GOOSE WAY,Meridian,Classification,7 Day Count,13,25,EB,7,22,WB,LINDER RD,GODDARD CREEK WY
23,6163,1998.419512,1044,6163,LELAND,260,08/13/08,EAST OF FIVE MILE RD,Ada County,Approach & Total,NaN,7,16,EB,14,8,WB,FIVE MILE RD,E END
24,6162,766.885738,1478,6162,REUTZEL,186,08/12/08,EAST OF FIVE MILE RD,Ada County,Approach & Total,NaN,2,6,EB,8,8,WB,FIVE MILE RD,LELAND WY
25,6161,7680.604111,1314,6161,PALMER LN,591,04/04/18,NORTH OF SH 44,Ada County,Approach & Total,ITD Count,35,12,NB,15,45,SB,SH 44,BEACON LIGHT RD
26,6160,1206.341176,1771,6160,TAHITI ST,368,10/11/17,WEST OF FIVE MILE RD,Boise,Approach & Total,NaN,12,19,EB,4,21,WB,FIVE MILE RD,BALI DR
27,6159,1046.189570,1540,6159,RYEGATE DR,173,06/06/19,EAST OF RICHTER AVE,Meridian,Classification,6 Day Count,2,5,EB,4,10,WB,BALDWIN ST,RICHTER AVE
28,6158,3622.997854,582,6158,EASY JET DR,945,03/20/18,WEST OF HALO PL,Meridian,Classification,7 Day Count,41,39,EB,43,64,WB,EAGLE RD,TRISTRAM AVE
29,6157,990.501940,391,6157,CHIMERE DR,518,05/25/11,EAST OF CHIANTI WY,Meridian,Classification,NaN,7,21,EB,37,27,WB,CHANCERY WY,CHIANTI WY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3386,35,1291.982679,1210,35,MONTEREY DR,345,04/25/19,WEST OF LAW AVE,Boise,Classification,7 Day Count,11,12,EB,4,23,WB,LAW DR,WOODVINE CT
3387,34,34544.182259,1959,34,WILLOW CREEK RD,952,06/02/16,SOUTH OF STILLWELL DR,Ada County,Classification,7 Day Count,27,38,NB,46,32,SB,VALLI HI RD,GEM COUNTY LINE
3388,32,3208.592395,568,32,DUNCAN LN,1216,05/04/16,NORTH OF STEVE ST,Ada County,Classification,7 Day Count,56,41,NB,44,69,SB,HILL ROAD PKWY,STATE ST
3389,31,2502.941376,295,31,BROOKSIDE LN,69,08/17/04,WEST OF SH 55,Ada County,ITD Count,NaN,0,0,EB,0,0,WB,SH 55,1/2 MILE WEST
3390,30,1229.234374,1631,30,SHOSHONE ST,1263,03/08/18,SOUTH OF PALOUSE ST,Boise,Classification,7 Day Count,55,60,NB,36,53,SB,NEZ PERCE ST,LEMHI ST
3391,29,6327.314846,880,29,HOMER RD,159,10/25/05,EAST OF PARK LN,Ada County,ITD Count,NaN,0,0,EB,0,0,WB,BALLANTYNE RD,PARK LN
3392,28,1133.988583,355,28,CASHMERE RD,312,01/13/16,SOUTH OF CURLING RD,Boise,Classification,6 Day Count,9,25,NB,24,7,SB,CURLING RD,W END
3393,27,15328.797195,1595,27,SH 16,11202,04/05/17,NORTH OF DEEP CANYON DR,Ada County,Approach & Total,NaN,218,717,NB,676,327,SB,DEEP CANYON DR,CHAPARRAL RD
3394,26,3096.070903,1842,26,TURNBERRY WY,941,04/29/09,NORTH OF TETER ST,Ada County,Classification,NaN,9,53,NB,46,24,SB,MOON LAKE ST,INTERLACHEN WY
3395,25,1021.731389,1541,25,SADDLEBROOK WY,147,01/28/09,NORTH OF DARKWOOD DR,Star,Classification,NaN,1,6,NB,8,9,SB,GAMBRELL ST,BLAKE DR
3396,24,1126.432862,1207,24,MONTAUK AVE,278,07/13/10,SOUTH OF ITOGA ST,Ada County,Classification,NaN,2,14,NB,8,8,SB,VICTORY RD,GREYLING DR
3397,23,1132.175917,929,23,ITHACA AVE,248,05/08/12,SOUTH OF TIOGA ST,Boise,Classification,NaN,6,13,NB,9,13,SB,VICTORY RD,GREYLING DR
3398,21,974.879071,511,21,DARKWOOD DR,102,01/27/09,EAST OF SADDLEBROOK WY,Star,Classification,NaN,0,2,EB,1,6,WB,FINSBURY WY,CARDIGAN AVE
3399,20,1584.892171,341,20,CARDON ST,933,09/26/18,WEST OF PARK LN,Eagle,Classification,7 Day Count,49,33,EB,19,25,WB,SENORA WY,E END
3400,19,3863.153588,201,19,BEACON LIGHT RD,3054,12/07/17,WEST OF SH 55,Eagle,Approach & Total,NaN,221,99,EB,74,232,WB,EDGEWOOD RD,SH 55
3401,17,3178.289245,201,17,BEACON LIGHT RD,4471,04/25/18,EAST OF PARK LN,Ada County,Approach & Total,NaN,284,139,EB,188,264,WB,PARK LN,FALSTAFF PL
3402,14,1971.155858,180,14,BALLANTYNE LN,2461,06/12/19,NORTH OF FLOATING FEATHER RD,Eagle,Approach & Total,NaN,37,118,NB,88,60,SB,FLOATING FEATHER RD,WASHAM RD
3403,13,2653.857951,114,13,AMITY RD,6493,08/29/18,WEST OF LOCUST GROVE RD,Ada County,Approach & Total,NaN,307,253,EB,280,389,WB,LOCUST GROVE RD,PRATT LN
3404,12,1158.656773,102,12,ALFANI WAY,921,03/19/08,SOUTH OF MAESTRA ST,Meridian,Classification,NaN,33,21,NB,8,49,SB,VICTORY RD,MAESTRA ST
3405,10,1655.575286,392,10,CHINDEN BLVD,28438,12/31/18,WEST OF FIVE MILE RD,Boise,ITD Permanent,AADT,1270,1094,EB,859,1285,WB,FIVE MILE RD,HP ACCESS RD
3406,5,2716.266631,385,5,CHERRY LN,8851,08/08/18,EAST OF BLACK CAT RD,Meridian,Approach & Total,NaN,480,313,EB,147,608,WB,BLACK CAT RD,INTERLACHEN WY
3407,4,2309.402452,235,4,BLACK CAT RD,5458,02/07/18,SOUTH OF USTICK RD,Meridian,Approach & Total,NaN,225,342,NB,240,274,SB,USTICK RD,TALAMORE DR
3408,3,2670.627013,235,3,BLACK CAT RD,5753,12/06/17,NORTH OF FRANKLIN RD,Meridian,Approach & Total,NaN,121,384,NB,328,203,SB,FRANKLIN RD,PINE AVE
3409,1,2380.161572,114,1,AMITY RD,7614,06/14/17,WEST OF TEN MILE RD,Ada County,Approach & Total,NaN,460,226,EB,121,592,WB,TEN MILE RD,NICKEL CREEK AVE
3410,0,1253.077746,0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0,0,NaN,NaN,NaN
3411,0,7633.859943,0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0,0,NaN,NaN,NaN
3412,0,2835.730845,0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0,0,NaN,NaN,NaN
3413,0,436.488352,0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0,0,NaN,NaN,NaN
3414,0,1888.894101,0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0,0,NaN,NaN,NaN
3415,0,1339.672646,0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0,0,NaN,NaN,NaN

In [87]:
ACHD_DF[ACHD_DF['TrafficC_2']=='08TH ST']

,GisData_SD,Shape_STLe,TrafficCou,TrafficC_1,TrafficC_2,TrafficC_3,TrafficC_4,TrafficC_5,TrafficC_6,TrafficC_7,TrafficC_8,TrafficC_9,Traffic_10,Traffic_11,Traffic_12,Traffic_13,Traffic_14,Traffic_15,Traffic_16
219,5963,1819.863830,26,5963,08TH ST,253,10/12/04,WEST OF KNOX ST,Star,Approach & Total,1-Way Street,2,15,EB,0,10,WB,STAR RD,KNOX ST
292,5888,680.360865,26,5888,08TH ST,989,03/09/17,NORTH OF MAIN ST,Boise,Approach & Total,1-Way Street,40,84,NB,0,0,SB,MAIN ST,BANNOCK ST
370,5807,1020.354574,26,5807,08TH ST,1215,12/06/12,SOUTH OF RIVER ST,Boise,Classification,NaN,16,68,NB,31,98,SB,MYRTLE ST,S/O RIVER ST
371,5806,680.194095,26,5806,08TH ST,2097,04/19/18,NORTH OF MYRTLE ST,Boise,Approach & Total,NaN,42,138,NB,17,57,SB,MYRTLE ST,FRONT ST
1290,3465,336.186005,26,3465,08TH ST,5335,04/05/18,NORTH OF HAYS ST,Boise,Approach & Total,1-Way Street,272,554,NB,0,0,SB,HAYS ST,FORT ST
1623,2765,1784.525902,26,2765,08TH ST,5367,04/26/18,NORTH OF FORT ST,Boise,Approach & Total,1-Way Street,106,568,NB,0,0,SB,FORT ST,RESSEGUIE ST
2876,921,339.993429,26,921,08TH ST,2127,06/27/18,NORTH OF BANNOCK ST,Boise,Approach & Total,1-Way Street,60,203,NB,0,0,SB,BANNOCK ST,JEFFERSON ST
2899,896,339.892070,26,896,08TH ST,4959,04/19/18,NORTH OF JEFFERSON ST,Boise,Approach & Total,1-Way Street,222,524,NB,0,0,SB,JEFFERSON ST,STATE ST
2927,845,1019.991384,26,845,08TH ST,6474,04/04/18,NORTH OF STATE ST,Boise,Approach & Total,1-Way Street,507,629,NB,0,0,SB,STATE ST,HAYS ST
3052,623,1617.129015,26,623,08TH ST,4318,04/25/19,NORTH OF SHERMAN ST,Boise,Classification,7 Day Count,84,282,NB,171,119,SB,RESSEGUIE ST,BRUMBACK ST
3092,504,1609.122997,26,504,08TH ST,2491,06/22/17,NORTH OF LEMP ST,Boise,Approach & Total,NaN,51,102,NB,72,76,SB,BRUMBACK ST,SUNSET PEAK RD